.tab-background {
    border-radius: 0;
    margin-block: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

:root {
    --tab-block-margin: 0px;
    --toolbarbutton-border-radius: 0;
    --urlbarView-row-gutter: 0px;
    --toolbarbutton-border-radius: 0px;
    padding-inline-start: 0;
}

.tabbrowser-tab {
    min-height: 38px;
    max-height: 38px;
    margin-top: 0px;
    margin-right: 0 !important;
    padding: 0 !important;
}

#TabsToolbar {
    --toolbarbutton-inner-padding: 0;
}

.urlbar-input-container, #searchbar {
  border-radius: 0px;
}

.urlbar-input-container {
    border: 0px;
    padding: 0;
}

#tabbrowser-tabs {
    margin-left: 0;
    padding-left: 0;
    margin-right: 0 !important;
}

#tabbrowser-arrowscrollbox-periphery > toolbartabstop:nth-child(1) {
    margin-left: 7.5px;
}

hbox.titlebar-spacer:nth-child(1) {
    width: 0;
}

#urlbar-background, #searchbar {
  border-radius: 0;
}

#save-to-pocket-button { /* I HATE POCKET */
    width: 0;
    appearance: none;
    display: none !important;
  }